@font-face {
  font-family: Fedra;
  src: url(/fonts/FedraSerif/Fedra-Serif-A-Pro-Book.eot);
  src: local(fedra), url(/fonts/FedraSerif/Fedra-Serif-A-Pro-Book.ttf);
}

@font-face {
  font-family: Merriweather;
  src: url(/fonts/MerriweatherRegular/MerriweatherRegular.eot);
  src: local(merriweather), url(/fonts/MerriweatherRegular/MerriweatherRegular.ttf);
}

@font-face {
  font-family: MerriweatherBold;
  src: url(/fonts/MerriweatherBold/MerriweatherBold.eot);
  src: local(merriweatherBold), url(/fonts/MerriweatherBold/MerriweatherBold.ttf);
}

$fontFamily: Arial, sans-serif;
$fontSize: 16px;
$color: #68625b;
$bgcolor: #EFEFED;
$font-weight: normal;

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $color;
  background-color: $bgcolor;
  font-weight: $font-weight;

  .icon1 {
    a {
      z-index: 200;
      .glyphicon-earphone {
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 20px;
        color: #892737;
      }

      text-align: center;
      vertical-align: middle;
      position: fixed;
      right: 0;
      bottom: 268px;
      color: #6a625a;
      height: 70px;
      width: 75px;
      font-size: 12px;
      background-color: #f0efed;
      border-radius: 4px 0 0 4px;
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    a:hover {
      .glyphicon-earphone {
        color: #ffffff;
      }
      color: #ffffff;
      background-color: #892737;
    }
  }

  .icon2 {
    a {
      z-index: 200;
      .glyphicon-user {
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 20px;
        color: #892737;
      }

      text-align: center;
      vertical-align: middle;
      position: fixed;
      right: 0;
      bottom: 196px;
      color: #6a625a;
      height: 70px;
      width: 75px;
      font-size: 12px;
      background-color: #f0efed;
      border-radius: 4px 0 0 4px;
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    a:hover {
      .glyphicon-user {
        color: #ffffff;
      }
      color: #ffffff;
      background-color: #892737;
    }
  }

  .icon3 {
    a {
      z-index: 200;
      .glyphicon-envelope {
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 20px;
        color: #892737;
      }

      text-align: center;
      vertical-align: middle;
      position: fixed;
      right: 0;
      bottom: 124px;
      color: #6a625a;
      height: 70px;
      width: 75px;
      font-size: 12px;
      background-color: #f0efed;
      border-radius: 4px 0 0 4px;
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    a:hover {
      .glyphicon-envelope {
        color: #ffffff;
      }
      color: #ffffff;
      background-color: #892737;
    }
  }

  .icon4 {

    a {
      z-index: 200;
      .glyphicon-arrow-down {
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 20px;
        color: #892737;
      }

      text-align: center;
      vertical-align: middle;
      position: fixed;
      right: 0;
      bottom: 52px;
      color: #6a625a;
      height: 70px;
      width: 75px;
      font-size: 12px;
      background-color: #f0efed;
      border-radius: 4px 0 0 4px;
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    a:hover {
      .glyphicon-arrow-down {
        color: #ffffff;
      }
      color: #ffffff;
      background-color: #892737;
    }
  }

}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #FFFFFF;

  .navbar {
    border: 0;
  }

  hr {
    width: 82%;
    margin-top: 0;
    margin-bottom: 0;

  }

  .menu {

    .menu-center {
      padding-left: 20px;
      padding-top: 13px;
    }

    .telephone {

      .telephonenav {
        position: relative;
        .menuT {
          font-size: 22px;
          color: #0f0f0f;
          display: none;
          cursor: pointer;
        }

        .pull-right {
          padding-top: 16px;
        }

        #button1 {
          float: left;
        }
        background-color: #FFFFFF;
        margin-bottom: 0;
      }

      li {
        list-style-type: none;
        display: inline-block;
        font-size: 13px;
        font-family: Arial, sans-serif;
        padding-left: 3px;
        padding-right: 1px;
      }

    }

    ul {
      padding-left: 0;
      display: block;
    }

    nav li {
      list-style-type: none;
      display: inline-block;
      padding-right: 6px;
    }

    img {
      position: absolute;
      padding-right: 0;
      background-color: #FFFFFF;
      top: 21px;
      z-index: 200;

    }

    a:hover {
      color: #FFFFFF;
      background-color: #ed0039;
      border-radius: 3px;
      text-decoration: none;
    }

    a {
      color: $color;
      padding: 7px 9px;
      font-size: 12px;

    }

    a.company {
      color: #ed0039;
    }

    a:hover {
      color: #FFFFFF;

    }

    a.active-link {
      color: #FFFFFF;
      background-color: #ed0039;
      border-radius: 3px;
    }

  }

  nav.menu2 {
    border-bottom-width: 0;
  }

  .menu2 {

    margin-bottom: 0;

    .menuT2 {
      font-size: 22px;
      color: #0f0f0f;
      display: none;
      cursor: pointer;
    }

    .base {
      padding-top: 13px;
      padding-left: 0;
      li {
        padding-right: 19px;
        list-style-type: none;
        display: inline-block;
      }

      li > a {
        color: $color;
        padding-top: 14px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 14px;
        text-decoration: none;
        margin-bottom: 0;
        font-size: 16px;
        border-bottom: solid 2px transparent;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      li > a:hover {
        color: #762b39;
        border-bottom-color: #762b39;
      }

      li {
        padding-left: 1px;
      }
    }

    .language {

      li {

        padding-top: 4%;
        padding-right: 1px;
      }

      li a {
        border-bottom: inherit;
        padding: 4px 8px 2px 7px;
        font-family: $fontFamily;
        font-size: 12px;
        color: $color;
        text-decoration: none;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      li a:hover {
        color: #FFFFFF;
        background-color: #ed0039;
        border-radius: 2px;
      }

      li.active-link a {
        color: #FFFFFF;
        background-color: #ed0039;
        border-radius: 2px;
      }
    }

    .search {
      padding-left: 30px;

      .form-group {
        float: left;
      }

      button {
        padding-right: 3px;

      }

      .form-group button, input {
        background: transparent;
        border: none;
        display: inline-block;
      }

      input.form-control {

        padding-left: 2px;
        padding-right: 6px;
        color: #68625B;
        font-size: 12px;
        width: 281px;
        box-shadow: none;
      }

    }

  }

}

.content {

  overflow: hidden;

  .children {
    margin: 0;
    height: 100%;
    background-image: url(/img/childrens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 129px;
    padding-bottom: 170px;
    color: #FFFFFF;

    .text1 {
      font-family: Merriweather, serif;
      font-size: 36px;
      padding-bottom: 10px;
    }

    .text2 {
      font-size: 24px;
      padding-bottom: 33px;
    }

    ul {
      padding-bottom: 37px;
      padding-left: 0;
    }

    li {
      font-weight: bold;
      font-size: 18px;
      list-style-type: none;

      img {
        padding-right: 10px;
      }
    }

    .calc a {
      color: #FFFFFF;
      height: 60px;
      width: 245px;
      background-color: #ed0039;
      border-radius: 3px;
      text-decoration: none;
      font-size: 16px;
      font-weight: normal;
      padding: 11px 29px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    .calc a:hover {
      box-shadow: 0 0 5px 2px yellow;
    }

  }

  .contacts {
    padding-top: 29px;
    padding-bottom: 20px;

    .column2 {
      padding-left: 0;
      padding-right: 24px;
      display: flex;
      justify-content: space-between;

      .circle1:hover {
        box-shadow: 0 1px 10px #8B2B3A;
      }

      .circle1 {
        position: relative;
        width: 100px;
        height: 100px;
        background: #f4f3f2;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      .circle2 {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 80px;
        height: 80px;
        background: #ffffff;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        font-size: 12px;
        color: #6a625a;

        text-align: center;

        .chat {
          padding-bottom: 5px;
        }
        img {
          padding-top: 14px;

        }
      }

    }

    .column1 {
      .text3 {
        font-size: 18px;
      }

      .text4 {
        padding-top: 15px;
        font-size: 24px;
        color: #333333;
        font-weight: bold;
        p {
          margin-bottom: 0;
        }
      }

      .text5 {
        font-size: 12px;
        color: #b5b1ad;
      }
    }

    .column3 {

      .col3 {
        padding-left: 25px;
      }

      background: url(/img/line2.png) no-repeat 0 0;
      .text3 {
        font-size: 18px;
      }

      .text4 {
        padding-top: 15px;
        font-size: 24px;
        color: #333333;
        font-weight: bold;
        p {
          margin-bottom: 0;
        }
      }

      .text5 {
        font-size: 12px;
        color: #b5b1ad;
      }
    }

    .column4 {

      ul {
        padding-left: 0;
      }

      li {
        font-family: $fontFamily;
        font-size: 12px;
        color: #892737;
        padding-bottom: 8px;
      }

      a {
        margin-left: 20px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      a:hover {
        box-shadow: 0 0 15px #8B2B3A;
      }

      .line2 img {
        position: absolute;
        left: -13px;
      }

      .more img {
        position: relative;
        left: -13px;
      }

      .more a {
        border: solid 1px #d5d4d2;
        border-radius: 10px;
        color: #6a625a;
        font-size: 10px;
        text-transform: uppercase;
        padding: 5px 16px;
        margin-left: -10px;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

      }
      a:hover {
        box-shadow: 0 0 6px #8B2B3A;
      }
    }
  }

  .news {

    background-color: #FFFFFF;
    padding-bottom: 50px;

    .row-flex {
      display: flex;
      flex-flow: row wrap;
    }

    .card {

      .topic {
        padding-top: 41px;
        padding-bottom: 36px;
        .text6 {
          position: relative;
          left: -10px;
          padding-right: 20px;
          font-family: MerriweatherBold, serif;
          font-weight: bold;
          color: #333333;
          font-size: 30px;
          vertical-align: middle;
        }

        form {
          display: inline-block;
        }

        .allNews a {
          border: solid 1px #d5d4d2;
          border-radius: 10px;
          color: #6a625a;
          font-size: 10px;
          text-transform: uppercase;
          padding: 5px 16px;
          vertical-align: center;
          text-decoration: none;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        .allNews a:hover {
          box-shadow: 0 0 6px #00aaff;
        }
        .allNews img {
          position: relative;
          left: -13px;
        }

      }

    }

    .card1 {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 10px;

      section {
        box-sizing: content-box;
        height: 191px;
        border-bottom: 3px solid transparent;
      }

      img {
        height: 100%;
        float: left;
      }

      div {
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        padding-top: 18px;
        padding-right: .5em;
        padding-left: 20px;
        border: 2px solid #e1e0de;
        border-left: none;
        .cont {
          padding-left: 10px;
        }
        p {
          padding-top: 5px;
          margin-bottom: 3px;
        }
      }
      div:hover {
        border-bottom-color: transparent;
      }
      section:hover {
        border-color: #761c19;
      }

      a {
        text-decoration: none;
        font-family: Fedra, sans-serif;
        font-size: 16px;
        color: #892737;
      }
      a:hover {
        color: #333333;
      }
      p {
        font-size: 12px;
        color: #bdbbb8;
      }
      .uper {
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 9px;
      }
    }

    .card2 {

      padding-right: 0;

      .card21 {
        padding-left: 0;
        padding-right: 0;
        section {
          box-sizing: content-box;
          height: 93px;
          border-bottom: 3px solid transparent;

        }

        img {
          height: 100%;
          float: left;
        }

        div {
          box-sizing: border-box;
          height: 100%;
          overflow: hidden;
          padding-top: .5em;
          padding-right: .5em;
          padding-left: 20px;
          border: 2px solid #e1e0de;
          border-left: none;

        }
        div:hover {
          border-bottom-color: transparent;
        }
        section:hover {
          border-color: #761c19;
        }

        a {
          font-family: Fedra, sans-serif;
          font-size: 14px;
          color: #892737;
          text-decoration: none;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        a:hover {
          color: #333333;
        }
        .uper {
          text-transform: uppercase;
          font-size: 10px;
          padding-top: 8px;
          margin-bottom: 13px;
        }

      }

      .card22 {
        padding-right: 0;
        padding-left: 0;
        padding-top: 3px;
        section {
          box-sizing: content-box;
          height: 93px;
          border-bottom: 3px solid transparent;
        }

        img {
          height: 100%;
          float: left;
        }

        div {
          box-sizing: border-box;
          height: 100%;
          overflow: hidden;
          padding-top: .5em;
          padding-right: .5em;
          padding-left: 20px;
          border: 2px solid #e1e0de;
          border-left: none;
        }
        div:hover {
          border-bottom-color: transparent;
        }
        section:hover {
          border-color: #761c19;
        }

        a {
          font-family: Fedra, sans-serif;
          font-size: 14px;
          color: #892737;
          text-decoration: none;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        a:hover {
          color: #333333;
        }
        .uper {
          text-transform: uppercase;
          font-size: 10px;
          padding-top: 8px;
          margin-bottom: 13px;
        }

      }

    }
  }

  .insurance {

    padding-top: 40px;
    .topic {
      font-family: MerriweatherBold, serif;
      font-weight: bold;
      color: #333333;
      font-size: 30px;
      padding-bottom: 38px;
    }

    .row-flex {
      display: flex;
      flex-flow: row wrap;
      background-color: #FFFFFF;
      margin-bottom: 56px;
      overflow: hidden;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    .row-flex:hover {
      box-shadow: 0 0 5px 2px #dbd9d5;
    }

    .image {
      background-color: #FFFFFF;
      padding-left: 0;
      padding-right: 0;
    }

    .decsription {
      padding-left: 22px;
      padding-top: 20px;
      background-color: #FFFFFF;
      a {
        color: #892737;
        font-size: 24px;
        font-family: Fedra, sans-serif;
      }

      form {
        padding-bottom: 20px;
      }

      a.more {
        color: #FFFFFF;
        font-family: $fontFamily;
        background-color: #6a625a;
        border-radius: 3px;
        text-decoration: none;
        font-size: 16px;
        padding: 11px 29px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      a.more:hover {
        box-shadow: 0 0 4px 2px #6A625A;
      }
      a.calc {
        color: #FFFFFF;
        font-family: $fontFamily;
        background-color: #ed0039;
        border-radius: 3px;
        text-decoration: none;
        font-size: 16px;
        margin-left: 11px;
        padding: 11px 29px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      a.calc:hover {
        box-shadow: 0 0 5px 2px #ED0039;
      }

      p {
        color: #6a625a;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 19px;
      }

    }

  }

}

.footer {

  .row-flex {
    display: flex;
    flex-flow: row wrap;
  }

  background-color: #6A625A;

  .brawn {
    font-size: 16px;

    .padding1, .padding2, .padding3, .padding4 {
      padding-top: 17px;
      overflow: hidden;
      padding-bottom: 12px;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }

    .padding1:hover, .padding2:hover, .padding3:hover, .padding4:hover {
      background-color: #ed0039;
    }

    background-color: #6A625A;
    color: #FFFFFF;

    ul {
      padding-left: 15px;
    }

    li {
      padding-top: 6px;
      list-style-type: none;

    }

    li a {
      text-decoration: none;
      font-size: 12px;
      color: #FFFFFF;
      margin-left: 5px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    img {
      visibility: hidden;
    }

    .glyph4:hover {
      img {
        visibility: visible;
      }
    }

    a:hover {
      border-bottom: solid 1px #FFFFFF;
    }

  }

  .sm {
    font-size: 12px;
    color: #FFFFFF;
  }

}

.footer2 {
  padding-top: 18px;
  padding-bottom: 7px;
  background-color: #FFFFFF;
  p {
    font-size: 16px;
    color: #181717;
    font-weight: bold;
  }
}

.footer3 {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #6a625a;

  .medial {
    text-align: right;
  }
  .up {
    text-align: center;
  }

  ul.pull-left {
    padding-left: 0;
  }

  li {
    padding-right: 11px;
    display: inline-block;
    background: url("../img/line4.png") no-repeat 100% 50%;
  }

  li.none {
    background-image: none;
  }

  a {
    padding: 0 40px;
    font-size: 12px;
    color: #FFFFFF;
  }

  button {
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #78716a;
    border-radius: 3px;
    text-decoration: none;
    padding: 6px 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  button:hover {
    box-shadow: 0 0 5px 1px #FFFFFF;
  }

  .medial a {
    text-align: right;
    padding-right: 0;
    padding-left: 0;
    color: #cccac8;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

  header {

    .menu {

      img {
        position: absolute;
        top: 41px;
      }
      .telephone ul {
        margin-bottom: 0;
      }

      .telephone {
        padding-left: 127px;
        .telephonenav .pull-right {
          padding-top: 12px;
        }
      }

      .telephone li.tel {
        padding-left: 18px;

      }

    }

    .menu2 {
      .base {
        li {
          padding-right: 0;
          a {
            padding-left: 6px;
            padding-right: 6px;
          }
        }
      }

      span.glyphicon-search {
        margin-left: 0;
      }

      .navbar-nav > li {
        padding-right: 0;
      }
      .navbar-nav > li > a {
        padding-right: 6px;
        padding-left: 6px;
      }

      .search {
        input.form-control {
          width: 239px;
        }
        padding-left: 5px;

      }
    }
  }

  .content {

    .children {
      padding-top: 53px;
      padding-bottom: 76px;
      .text {

      }

    }

    .contacts {

      .column3 {
        .text4 {
          font-size: 20px;
        }
      }
      .column1 {
        .text4 {
          font-size: 20px;
        }
      }

    }

    .news {

      .card {

        .card1 {
          section {
            div {
              padding-top: 5px;
            }
          }

        }

      }

    }

    .insurance {
      .decsription {
        p.insh {
          padding-top: 4px;
          padding-bottom: 7px;
          margin-bottom: 1px;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

  header {
    hr {
      width: 69%;
    }
    .menu {
      nav li {
        padding-left: 1px;
      }

      .telephone {
        padding-left: 43px;
        padding-bottom: 4px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

      }

      .telephone li {
        padding-left: 127px;
      }

      img {
        top: 26px;
      }

    }

    .menu2 {

      .base li {
        padding-left: 25px;
        padding-right: 0;
        a {
          padding-right: 15px;
          padding-left: 15px;
        }

      }

      .search {
        margin-top: 0;
        margin-bottom: 0;
        input.form-control {
          width: 391px;
        }

        li {

        }
        padding-left: 31%;
      }

      .language {
        li {
          margin-left: 1px;
          padding-left: 0;

        }
      }
    }
  }

  .content {

    .children {
      background-position: center;
      padding-top: 24px;
      padding-bottom: 47px;
      .text1 {
        font-size: 30px;
      }

      .text2 {
        font-size: 21px;
      }

      li {
        font-size: 16px;
      }
    }

    .contacts {

      .column2 {
        justify-content: space-around;
      }

      .column3 {

        .col3 {
          padding-left: 2px;
        }
      }

      .column4 {
        ul {
          padding-top: 5px;
        }
      }

    }

    .news {
      .card {

        .card1 {
          section {
            div {
              padding-top: 20px;
            }
          }
        }

        .card2 {
          padding-left: 0;
          .card21 {
            line-height: 17px;
            padding-right: 3px;
          }
          .card22 {
            line-height: 17px;
            padding-left: 3px;
            padding-top: 0;
          }
        }

      }
    }

    .insurance {
      .decsription {
        padding-top: 8px;
        a {
          font-size: 22px;
        }
        p {
          font-size: 15px;
          padding-top: 0;
          padding-bottom: 7px;
        }

        a.more, a.calc {
          padding: 8px 19px;
        }
      }
    }
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

  header {

    .menu {
      .menu-center {

        padding-top: 11px;
      }
      img {
        position: relative;
        top: 6px;
      }

      .telephone {

        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        .telephonenav {
          .pull-right {
            padding-top: 0;
          }
        }
      }

      .telephone li {

        padding-left: 1px;
        padding-right: 3px;
      }
    }

    .menu2 {
      .rightt {
        .navbar-nav {
          margin: 1px;
          margin-top: 3px;
          padding-left: -17px;
          margin-bottom: 0;
        }
      }
      .search {
        padding-left: 1%;
        padding-top: 0;
        padding-bottom: 0;

        .form-group {
          padding-top: 3px;
        }

        input.form-control {
          width: 380px;
          display: inline-block;
        }

        .language li.active-link {
          display: inline-block;
          padding-top: 0;
        }
        .language li {
          display: inline-block;
          padding-top: 0;
        }

      }

      #bs-example-navbar-collapse-2 {
        padding-left: 0;
      }

    }
  }

  .footer3 {

    .up {
      text-align: inherit;
      padding-left: 50px;
    }
  }

  .content {

    .children {
      padding-bottom: 31px;

      .text1 {
        font-size: 25px;
      }
      .text2 {
        font-size: 18px;
      }
      li {
        font-size: 15px;
      }
    }

    .contacts {
      .column2, .column3, .column4 {
        padding-top: 20px;
      }

      .column4 {
        ul {
          padding-left: 13px;
        }
        .more a {
          margin-left: 2px;
        }
      }
    }

    .news {
      .card {
        .card1 {
          padding-bottom: 7px;
        }
        .card2 {
          .card21 {
            padding-right: 0;
          }
          .card22 {
            padding-top: 5px;
            padding-left: 0;
          }
        }

      }
    }

    .insurance .image {

      padding-top: 18px;
    }

    .insurance .decsription {
      padding-bottom: 23px;
    }

    .insurance .topic {
      padding-left: 23px;
    }

  }
}

@media only screen and (max-width: 765px) {
  header {

    hr {
      width: 100%;
    }
    .menu2 {
      .base li {
        padding-left: 0;
        padding-right: 13px;
      }
    }

  }

}

@media only screen and (max-width: 762px) {

  .content {
    .news {
      .card {
        .card2 {
          .card22 {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 716px) {

  .content {
    .children {
      padding-top: 14px;
      padding-bottom: 16px;

      ul {
        padding-bottom: 9px;
      }

      .text2 {
        padding-bottom: 21px;
      }

      li a {
        font-size: 14px;
        padding: 11px 18px;
        margin-top: 0;
      }
    }

    .contacts {
      ul {
        padding-left: 10px;
        padding-bottom: 0;
      }
    }

  }
}

@media only screen and (max-width: 630px) {
  .content {
    .news {

      .card {
        .card1 {
          a {
            font-size: 14px;
          }
          section {
            height: 140px;
            div {
              line-height: 17px;
              padding-top: 8px;
              p {
                margin-bottom: 0;
              }
            }
          }
        }
        .card2 {
          .card21 {

            section {
              height: 140px;
            }
          }
          .card22 {
            section {
              height: 140px;
            }
          }

        }

      }
    }
  }

}

@media only screen and (max-width: 562px) {
  .content {
    .news {

      .card {
        .card1 {
          p {
            font-size: 11px;
          }
          a {
            font-size: 12px;
          }
          section {
            height: 110px;
            div {
              padding-top: 2px;
              line-height: 14px;
              p {
                margin-bottom: 0;
              }
              .uper {
                font-size: 10px;
              }
            }
          }
        }
        .card2 {
          .card21 {
            a {
              font-size: 12px;
            }
            section {
              height: 110px;
              div {
                line-height: 14px;
                padding-top: 2px;
              }
            }
          }
          .card22 {
            a {
              font-size: 12px;
            }
            section {
              height: 110px;
              div {
                line-height: 14px;
                padding-top: 2px;
              }
            }
          }

        }

      }
    }
  }

}

@media only screen and (max-width: 538px) {

  header {
    hr {
      display: block;
      width: 100%;
    }
    .menu {

      .logo {
        text-align: center;
      }

      #about {
        display: none;
      }

      li {
        padding-top: 5px;
        padding-bottom: 2px;

      }

      .telephone {
        height: 0;
        li.tel {
          padding-left: 1px;
        }
        .telephonenav {
          position: relative;
          li {
            text-align: center;

          }
          .glyphicon-earphone {
            display: none;
          }
          .menuT {
            height: 0;
            display: block;
            .glyphicon-phone {
              top: -59px;
              left: 4px;
              z-index: 220;
            }
          }
          .pull-right {

            padding: 5px 10px;
            display: none;
            float: none;
            position: absolute;
            background-color: #FFFFFF;
            top: -36px;
            left: 25px;
            z-index: 200;
            width: 180px;
            box-shadow: 0 0 6px 3px rgba(0, 0, 0, .08);
          }
        }
      }
    }

    .menu2 {

      .leftt {
        position: relative;
        .menuT2 {
          height: 0;
          display: block;
          .glyphicon-align-justify {
            z-index: 220;
            top: -64px;
            left: 0;
          }

        }
        .base {
          padding-right: 20px;
          padding-left: 20px;
          li {
            display: block;
            padding-bottom: 20px;

          }
          top: -29px;
          left: 16px;
          display: none;
          position: absolute;
          background-color: #FFFFFF;
          z-index: 200;
          box-shadow: 0 0 6px 3px rgba(0, 0, 0, .08);
        }
        #qq2 {
          padding-left: 0;
          display: block !important;

        }
      }

      .rightt {
        position: relative;
        .language {
          position: absolute;
          top: -65px;
          right: 6px;
          li.active-link a {
            margin-bottom: 1px;
          }
        }
        input.form-control {
          width: 333px;
        }
      }

    }

  }

  .footer3 {
    a {
      padding-left: 14px;
      padding-right: 16px;
    }
    .up {
      padding-left: 20px;
    }

    li {
      padding-right: 10px;
    }
  }

  .content {

    .children {

      .text1 {

      }
      .text2 {
        font-size: 16px;
        padding-bottom: 8px;
      }
      ul {
        padding-bottom: 12px;
        li {
          font-size: 13px;
        }
      }
      .calc a {
        font-size: 13px;
        padding: 11px 16px;
      }
    }

    .news {
      .card {
        .card2 {
          .card21 {

          }

          .card22 {

          }
        }
      }
    }
  }

}

@media only screen and (min-width: 539px) {

  header {
    .menu {

      #about {

        display: block !important;

      }
    }

    .menu2 {
      #qq2 {
        display: none;
      }

    }

  }
}

@media only screen and (max-width: 522px) {

  header {
    .menu {
      .telephone li {
        padding-left: 1px;
        padding-right: 3px;
        display: block;
      }
      .telephone .telephonenav .pull-right {

      }

    }
  }

  .content {

    .news {
      .card1 {
        section {
          div {
            p {
              display: none;
            }
            .uper {
              padding-top: 10px;
              display: block;
            }
          }
        }
      }
    }

  }

}

@media only screen and (max-width: 471px) {

  .content {

    .children {

      .text1 {
        font-size: 18px;
      }

      .text2 {
        font-size: 15px;
      }
      ul {
        padding-bottom: 0;
      }
      li {

      }
      .calc a {
        font-size: 12px;
        padding: 9px 12px;
      }
    }

  }

  .footer {
    .brawn {
      padding-left: 10px;
      .padding1, .padding2, .padding3, .padding4 {
        width: 350px;
        float: left;
      }
    }
  }

}

@media only screen and (max-width: 459px) {
  header {

    .menu2 {
      .search input.form-control {
        width: 352px;
      }
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 420px) {

  header {

    .menu2 {
      .search input.form-control {
        width: 173px;
      }
    }
  }

  .content {
    .insurance {
      .topic {
        p {
          font-size: 22px;
        }
      }

      .list {
        .img {
          float: none;
        }
      }
    }
  }

  .footer2 {
    .col-xs-7 {
      padding-right: 0;
    }
    .col-xs-17 {
      padding-right: 0;
    }
    img {
      width: auto;
    }
  }

  .footer3 {
    a {
      padding-left: 3px;
      padding-right: 6px;
    }
    li {
      padding-right: 5px;
    }
  }
}

@media only screen and (max-width: 379px) {
  .content {
    .news {
      .allNews {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 386px) {
  header {

    .menu2 {
      .search {

        .language {

          z-index: 220;
        }

      }
    }
  }
}

@media only screen and (max-width: 375px) {

  .content {

    .children {
      padding-top: 8px;
      padding-bottom: 13px;
      .text1 {
        font-size: 16px;
        padding-bottom: 3px;
      }
      .text2 {
        font-size: 13px;
      }
      .calc a {
        padding: 7px 10px;
      }
      li {
        font-size: 12px;
      }
    }
  }

}

@media only screen and (max-width: 320px) {

  header {
    .menu {
      .telephone {
        text-align: left;
      }
    }

    .menu2 {
      .search input.form-control {
        width: 172px;
      }
    }
  }

  .content {

    .children {
      padding-top: 2px;
      padding-bottom: 9px;
      .text {

      }

      .text1 {
        font-size: 13px;
        padding-bottom: 0;
      }
      .text2 {
        font-size: 12px;
        padding-bottom: 0;
      }
      li {

      }

      .calc a {
        font-size: 12px;
        padding: 6px 8px;
      }

    }

    .news {
      .card2 {
        .card21 {

        }
      }
    }

    .insurance {
      .decsription {
        a.more {
          padding-left: 12px;
          padding-right: 12px;
        }
        a.calc {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }
  }
}
